.legend {
    background-color: white;
    height: 50px;
    font-weight: bold;
    text-align: left;
    min-width: 160px;
  }
.legend-marker-blue {
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid black;
}

.legend-marker-red {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid black;
}

.legend-item {
    padding: 4px;    
}

  .check {
    height: 15px;
    width: 15px;
    cursor: pointer;
    margin-left: 10px;
  }