.message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12pt;
    line-height: 2vh;
    justify-content: center;

}

.animate {
    font-size: 12pt;
    cursor: pointer;
}

.message-text{
    line-height: 2vh;
}