.error-message{
    font-weight: bold;
    font-size: 20px;    
    color: white;
    background-color: rgb(255, 61, 61);
}
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:auto;
  }

  .map-container{
    height: 75vh;
  }