.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: #2C5496;

    box-sizing: border-box;
}

.App-header {
  min-height: 10vh;
  width:100%;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: flex-start;
  justify-content: center;
}

h1{
align-self:center;
min-width: 50%;
}


.map-component{
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
}

.filter-form{
  align-self:center;
}