* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #2256A0;
  height:100%;
}

.App-header {
  font-size: 28px;
  color: white;
  justify-content: center;
  padding: 10px;
}

.bottom-text{
  color: white;
  font-weight: bold;
  padding-top: 1%;
}