.legend {
    background-color: white;
    width: 15%;
    font-size: 1.25rem; 
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.5em;
  }
.legend-marker-blue {
    background-color: blue;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid black;

}

.legend-marker-red {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 2px solid black;
}

.legend-item {
    padding: 5%;
    
}



  .check {
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: inline-block;
  }