.submit {
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: inherit;
    border-color: rgba(255, 255, 255, 0.841);
    color: rgba(255, 255, 255, 0.867);
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.submit:hover {
    color: #265397 ;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

input{
    font-size: inherit;
    width: 60%;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
 }

 .filter-form {
    display: flexbox;
    background-color: #2C5496;
    padding-bottom: 2vh;
 }