.submit {
    border-radius: 0.25em;
    padding: 0.25em 0.75em;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: inherit;
    border-color: rgba(255, 255, 255, 0.841);
    color: rgba(255, 255, 255, 0.867);
    background-color: transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 .filter-form {
    background-color: #2256A0;
    padding-bottom: 2vh;
    align-content: center;
 }