
.error-message{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: #e6e6e6;
    padding: 6px;
}
.filter {
    display: flexbox;
    background-color: #e6e6e6;
}